*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
.bg {
  text-align: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
.modaldeneme {
  position: absolute;
  top: 10px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  top: auto;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left, #2070b9, #04315b);
  /* background-image: url("./images/bckgrnd.jpg"); */
  background-size: cover;
  font-family: "Nunito", sans-serif;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

.container {
  color: #fff;
  font-size: 64px;
  font-family: PT Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  background: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

label {
  display: block;
  width: 260px;
  margin: 25px auto 0;
  text-align: center;
}

label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;

  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: "Nunito", sans-serif;
}
::placeholder {
  color: #9a9a9a;
  font-weight: 400;
}
button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.submit {
  margin-top: 7px;
  margin-left: 161px;
  text-align: center;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #2070b9, #04315b);
  border-radius: 500px;
}

.submit:hover {
  background: -webkit-linear-gradient(left, #04315b, #2070b9);
}
.home {
  background-position: center;
}
.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
}

.forgot-pass:hover {
  color: #2070b9;
}

.social-media {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.social-media ul {
  list-style: none;
}

.social-media ul li {
  display: inline-block;
  cursor: pointer;
  margin: 25px 15px;
}

.social-media img {
  width: 40px;
  height: 40px;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont {
  -webkit-transform: translate3d(-640px, 0, 0);
  transform: translate3d(-640px, 0, 0);
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 900px;
  height: 100%;
  background-image: url(images/bckgrnd.jpg);
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.cont.s-signup .img:before {
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.img-text {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
  margin-bottom: 10px;
  font-weight: normal;
}

.img-text p {
  font-size: 14px;
  line-height: 1.5;
}

.cont.s-signup .img-text.m-up {
  -webkit-transform: translateX(520px);
  transform: translateX(520px);
}

.img-text.m-in {
  -webkit-transform: translateX(-520px);
  transform: translateX(-520px);
}

.cont.s-signup .img-text.m-in {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.sign-in {
  padding-top: 65px;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.cont.s-signup .sign-in {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1.2s;
  transition-duration: 1.2s;
  -webkit-transform: translate3d(640px, 0, 0);
  transform: translate3d(640px, 0, 0);
}

.img-btn {
  overflow: hidden;
  z-index: 2;
  position: relative;
  width: 100px;
  height: 36px;
  margin: 0 auto;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.img-btn:after {
  content: "";
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 30px;
}

.img-btn span {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.img-btn span.m-in {
  -webkit-transform: translateY(-72px);
  transform: translateY(-72px);
}

.cont.s-signup .img-btn span.m-in {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cont.s-signup .img-btn span.m-up {
  -webkit-transform: translateY(72px);
  transform: translateY(72px);
}

.sign-up {
  -webkit-transform: translate3d(-900px, 0, 0);
  transform: translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.copyandshowpassword {
  background: #04315b;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-left: 40px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

body {
  position: relative;
}
ul.nav-pills {
  top: 20px;
  position: fixed;
}
div.col-8 div {
  height: 500px;
}
.setNavButtons {
  margin-left: 83%;
}
.ajs-message.ajs-custom {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #31708f;
}
.denemelersuruyor {
  text-align: center;
}
.myNewButton {
  margin-left: 88%;
  width: 36px;
}

.totheright {
  margin-left: 15px;
}

.submitButton {
  margin-right: auto;
  margin-left: auto;
}

.modal-footer {
  margin-right: 86px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
h1 {
  color: white;
  font-size: large;
}
.xyz {
  background-size: auto;
  text-align: center;
  padding-top: 100px;
}
.btn-circle.btn-sm {
  background: #04315b;
  width: 152px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 20px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.clsBttn {
  margin-left: 0%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  width: 36px;
  opacity: 0.7;
}
.btn-circle.submit {
  width: 270px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 19px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #2070b9, #04315b);
  border-radius: 500px;
}
.btn-circle.show {
  width: 240px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 16px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #357699e1, #0b88d1e1);
  border-radius: 500px;
}

.btn-circle.copy {
  width: 240px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 16px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #48c948, #066106);
  border-radius: 500px;
}
.btn-circle.edititem {
  width: 240px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 16px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #888888, #000000);
  border-radius: 500px;
}
.btn-circle.delete {
  width: 240px;
  height: 36px;
  border-radius: 151px;
  text-align: endcenter;
  font-size: 16px;
  font-weight: normal;
  margin-left: -54px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  background: -webkit-linear-gradient(left, #833a3a, #ff0000);
  border-radius: 500px;
}

.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  margin-right: auto;
  margin-left: auto;
}
.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 7px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
}
.btn-primary {
  margin-bottom: 5px;
}
.btn-success {
  margin-bottom: 5px;
}
.bttn-submit-position {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bttn-positions-savecopy {
  margin-top: 20px;
  margin-bottom: 20px;
}
.modal-body {
  position: initial;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  text-align: center;
}
